ctransformers==0.2.5
sentence-transformers
chromadb
langchain
#==0.0.225  # Use the latest version compatible with the current setup
flask
pypdf
python-dotenv
langchain_community
Pillow
huggingface-hub<0.20  # Ensure compatibility with sentence-transformers
langchain-core

-e .